process {

  withName: 'IMPUTED_TO_PLINK' {
    cpus = { 10 }
    memory = { 16.GB * task.attempt }
  }

  withName: 'IMPUTED_TO_PLINK2' {
    cpus = { 10 }
    memory = { 16.GB * task.attempt }
  }

  withName: 'THIN_PREDICTORS' {
    cpus = { 10 }
    memory = { 16.GB * task.attempt }
  }

  withName: 'CREATE_THIN_WEIGHTS' {
    cpus = { 1  }
    memory = { 5.GB }
  }

  withName: 'CALC_KINS_HUMAN' {
    cpus = { 10 }
    memory = { 10.GB * task.attempt }
  }

  withName: 'CALC_KINS_UNIFORM' {
    cpus = { 10 }
    memory = { 10.GB * task.attempt }
  }

  withName: 'CALC_KINS_WEIGHTS' {
    cpus = { 10 }
    memory = { 10.GB * task.attempt }
  }

  withName: 'FILTER_RELATEDNESS' {
    cpus = { 10 }
    memory = { 10.GB * task.attempt }
  }

  withName: 'LDAK_HE' {
    cpus = { 10 }
    memory = { 10.GB * task.attempt }
  }

  withName: 'LDAK_REML' {
    cpus = { 10 }
    memory = { 10.GB * task.attempt }
  }


  withName: 'QC_FILTER_GENOTYPED' {
    cpus = { 10 * task.attempt }
    memory = { 10.GB * task.attempt }
  }

  withName: 'PRUNE_GENOTYPED' {
    cpus = { 10 * task.attempt }
    memory = { 10.GB * task.attempt }
  }



  withName: 'GCTA_GRM' {
    cpus = { 10 * task.attempt }
    memory = { 10.GB * task.attempt }
  }

  withName: 'CREATE_MPFILES_PER_CHROM' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'MERGE_MPFILES' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'MAKE_GRM_PART' {
    cpus = { 10 * task.attempt }
    memory = { 10.GB * task.attempt }
  }

  withName: 'MERGE_GRM_PARTS' {
    cpus = { 10 * task.attempt }
    memory = { 10.GB * task.attempt }
  }

  withName: 'MERGE_SNP_GROUPS' {
    cpus = { 10 * task.attempt }
    memory = { 10.GB * task.attempt }
  }

  withName: 'REGENIE_STEP1_RUN' {
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
  }

  withName: 'REGENIE_STEP1_SPLIT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'REGENIE_STEP1_RUN_CHUNK' {
    cpus = { 1 * task.attempt }
    memory = { 12.GB * task.attempt }
  }

  withName: 'REGENIE_STEP1_MERGE_CHUNKS' {
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
  }

  withName: 'REGENIE_STEP2_RUN' {
    cpus = { 8 * task.attempt }
    memory = { 8.GB * task.attempt }
  }

  withName: 'REGENIE_STEP2_RUN_GENE_TESTS' {
    cpus = { 8 * task.attempt }
    memory = { 8.GB * task.attempt }
  }

  withName: 'REGENIE_LOG_PARSER_STEP1' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'REGENIE_LOG_PARSER_STEP2' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'DOWNLOAD_RSIDS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'ANNOTATE_RESULTS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'FILTER_RESULTS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'MERGE_RESULTS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'LIFTOVER_RESULTS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'REPORT' {
    cpus = { 1 * task.attempt }
    memory = { 8.GB * task.attempt }
  }

  withName: 'REPORT_GENE_BASED_TESTS' {
    cpus = { 1 * task.attempt }
    memory = { 4.GB * task.attempt }
  }

  withName: 'REPORT_INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  errorStrategy = 'retry'
  maxRetries = 3
}
