/*
========================================================================================
    Test profile for MAGMA raw genotype-based gene analysis
========================================================================================
*/

params {
    run_assoc_regenie                    = false
    run_assoc_fastgwa                    = false
    run_assoc_kvik                       = false

    run_h2_gcta_grm                      = false
    run_h2_ldak_grm                      = false
    run_h2_gcta_greml                    = false
    run_h2_gcta_greml_ldms               = false
    run_h2_bolt_lmm_reml                 = false
    run_h2_ldak_reml                     = false
    run_h2_ldak_he                       = false
    run_h2_ldak_pcgc                     = false
    run_h2_ldak_qc                       = false
    run_h2_ldak_sumher                   = false
    run_h2_ldsc_h2                       = false

    run_rg_ldak_sumcors                  = false
    run_rg_ldsc_rg                       = false
    run_rg_gcta_bivariate_greml          = false
    run_rg_gcta_bivariate_greml_ldms     = false

    run_magma_gene_based                 = true
    run_magma_gene_set                   = false
    run_lava_local_rg                    = false
    run_lcv_causal                       = false

    magma_gene_input_mode                = 'raw'
    imputed_genotyped_files_plink1       = "$baseDir/tests/input/magma/ref.{bed,bim,fam}"
    magma_gene_loc                       = "$baseDir/tests/input/magma/genes.loc"
    phenotypes_dir                       = "$baseDir/tests/input/phenotypes/single"
    covariates_filename                  = "$baseDir/tests/input/covariates.txt"
}

process {
    withName: '.*' {
        cpus = 1
        memory = 1.GB
    }
}
