/*
========================================================================================
    Test config for LDAK PCGC Regression
========================================================================================
    Tests PCGC regression for binary trait heritability on liability scale
    Use as follows:
        nextflow run workflows/ldak/ldak_pcgc.nf -c conf/test_ldak_pcgc.config -profile singularity
----------------------------------------------------------------------------------------
*/

params {
    project                       = 'test-ldak-pcgc'
    genotyped_file                = "$baseDir/tests/input/ldak/example.{bim,bed,fam}"
    genotypes_build               = 'hg19'
    phenotypes_dir               = "$baseDir/tests/input/phenotypes/ldak_bin"
    covariates_filename           = "$baseDir/tests/input/ldak/covariates.txt"
    covariates_columns            = null
    covariates_cat_columns        = null

    // PCGC regression parameters
    ldak_pcgc_prevalence          = 0.2   // 20% disease prevalence (example)
    heritability_model            = 'human_default'

    // Output directory
    pubDir                        = "$baseDir/results/test-ldak-pcgc"
}

process {
    container = 'nf-gwas.sif'

    withName: '.*' {
        cpus = 1
        memory = 2.GB
    }
}

singularity {
    enabled = true
    autoMounts = true
}
