/*
========================================================================================
    Test profile for MAGMA gene-set analysis (external gene results)
========================================================================================
*/

params {
    run_assoc_regenie                    = false
    run_assoc_fastgwa                    = false
    run_assoc_kvik                       = false

    run_h2_gcta_grm                      = false
    run_h2_ldak_grm                      = false
    run_h2_gcta_greml                    = false
    run_h2_gcta_greml_ldms               = false
    run_h2_bolt_lmm_reml                 = false
    run_h2_ldak_reml                     = false
    run_h2_ldak_he                       = false
    run_h2_ldak_pcgc                     = false
    run_h2_ldak_qc                       = false
    run_h2_ldak_sumher                   = false
    run_h2_ldsc_h2                       = false

    run_rg_ldak_sumcors                  = false
    run_rg_ldsc_rg                       = false
    run_rg_gcta_bivariate_greml          = false
    run_rg_gcta_bivariate_greml_ldms     = false

    run_magma_gene_based                 = false
    run_magma_gene_set                   = true
    run_lava_local_rg                    = false
    run_lcv_causal                       = false

    magma_set_annot                      = "$baseDir/tests/input/magma/geneset/set_annot.sets.annot"
    magma_gene_results_dir               = "$baseDir/tests/input/magma/gene_results"
}

process {
    withName: '.*' {
        cpus = 1
        memory = 1.GB
    }
}
