/*
========================================================================================
    Comprehensive test profile - runs major workflows
========================================================================================
*/

params {
    run_assoc_regenie                    = true
    run_assoc_fastgwa                    = false
    run_assoc_kvik                       = false

    run_h2_gcta_grm                      = false
    run_h2_ldak_grm                      = false
    run_h2_gcta_greml                    = false
    run_h2_gcta_greml_ldms               = false
    run_h2_bolt_lmm_reml                 = false
    run_h2_ldak_reml                     = false
    run_h2_ldak_he                       = false
    run_h2_ldak_pcgc                     = false
    run_h2_ldak_qc                       = true
    run_h2_ldak_sumher                   = false
    run_h2_ldsc_h2                       = false

    run_rg_ldak_sumcors                  = false
    run_rg_ldsc_rg                       = false
    run_rg_gcta_bivariate_greml          = false
    run_rg_gcta_bivariate_greml_ldms     = false

    run_magma_gene_based                 = false
    run_magma_gene_set                   = false
    run_lava_local_rg                    = false
    run_lcv_causal                       = false
}

process {
    withName: '.*' {
        cpus = 2
        memory = 3.GB
    }

    withName: 'REGENIE_STEP1_RUN|REGENIE_STEP2_RUN' {
        cpus = 4
        memory = 4.GB
    }

    withName: 'MAKE_GRM_PART|CALC_KINS_HUMAN' {
        cpus = 4
        memory = 4.GB
    }
}
