/*
========================================================================================
    Mock LDSC executables for tests
========================================================================================
*/

process {
    withName: 'LDSC_MUNGE_SUMSTATS' {
        beforeScript = """
cp ${projectDir}/tests/bin/mock_munge_sumstats.py munge_sumstats.py
chmod +x munge_sumstats.py
export PATH="$PWD:$PATH"
"""
    }

    withName: 'LDSC_H2|LDSC_RG' {
        beforeScript = """
cp ${projectDir}/tests/bin/mock_ldsc.py ldsc.py
chmod +x ldsc.py
export PATH="$PWD:$PATH"
"""
    }
}
