/*
========================================================================================
    Mock MAGMA executable for tests
========================================================================================
*/

process {
    withName: 'MAGMA_ANNOTATE|MAGMA_GENE_ANALYSIS|MAGMA_GENE_ANALYSIS_RAW|MAGMA_GENE_SET_ANALYSIS' {
        beforeScript = """
cp ${projectDir}/tests/bin/mock_magma.sh magma
chmod +x magma
export PATH="\$PWD:\$PATH"
"""
    }
}
